# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Next.js / React
.next/
out/
build/

# Node.js backend
dist/
coverage/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
